textarea:invalid {
  border: 2px dashed red;
}

textarea:invalid:required {
  background-image: linear-gradient(to right, pink,   #f5b041 );;
}

textarea:valid {
  border: 2px solid black;
  background-image: linear-gradient(to right, lightgreen, lightblue);
}

#mainForm:invalid {
  border: 2px dashed red;
}
#mainForm:invalid:required {
  background-image: linear-gradient(to right, pink,   #f5b041 );;
}

#mainForm:valid {
  border: 2px solid black;
  background-image: linear-gradient(to right, lightgreen, lightblue);
}
